.divcontener {
  background-color: rgb(197, 186, 186);
  /* width: 50%; */
  height: 50%;
  padding: 50px;
}

.boxwrapper {
  background-color: white;
  width: 300px;
  height: 300px;
  margin: auto;
  /* margin: 10px 10px; */
  border-radius: 6%;
  padding: 50px;
}

/* {
}*/

#b1 {
  background-color: rgb(90, 88, 88);

  padding: 10px 20px;
}
#b2 {
  background-color: gray;
}
#b3 {
  background-color: rgb(197, 186, 186);
}

.wrapperforbuttons {
  display: flex;
  justify-content: center;
}

.wrapperforbuttons button {
  border: 0px;
  border-radius: 12px;
}

#todowrapper {
  text-decoration: line-through;
  background-color: rgba(128, 128, 128, 0.158);
}

/*body {
}*/

button:hover {
  cursor: pointer;
}
